/* 화면을 세로, 가로로 중앙에 정렬 */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  margin: 0;
  background-color: #f8f9fa;
}

.container {
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
  font-size: 2rem;
}

.btn {
  margin: 10px;
}

#div_fruits {
  margin-top: 20px;
}
